body {
  background: linear-gradient(0.25turn, #fffefe, #686868b2);
  margin: 30px;
}

h3 {
  font-family: 'Grenze', serif;
  font-weight: bolder;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1.8rem;
  width: 100%;
  max-width: 2300px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

img {
      border-color: #ff0000;
      width: 120px;
}


div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  padding: 50px;
  width: 100px;
}