container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1.6rem;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  /* figure img {
      width: 96px;
      height: 78px;
  }  */