.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .card {
    filter: drop-shadow(10px 10px 6px rgb(201, 201, 201));
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 1.5rem;
  }

  body {
    background-color: rgb(230, 230, 230);
  }


  figure img {
      height: 250px;
      border-top-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      filter: drop-shadow(2px 2px 4px gray);
  } 

  /* img {
      width: 180px;
      height: 225px;
  } */