*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    margin: 40px;
    font-family: 'Anton', sans-serif;
    background: linear-gradient(#fffefe, #9b0202);
  }
  
  h1, p {
    margin: 0 0 1em 0;
  }

  
  /* no grid support? */
  .sidebar {
    float: left;
    width: 19.1489%;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
  }
  
  .content {
    float: right;
    width: 79.7872%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.8rem;
  }
  
  /* make a grid */
  .wrapper {
    max-width: 1850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 15px;
  }
  
  .wrapper > * {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
    /* needed for the floated layout*/
    margin-bottom: 10px;
    border: white solid 2px;
  }
  
  .header {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: rgb(25, 0, 255);
  }
  
  .footer {
      grid-column: 1 / -1;
      /* needed for the floated layout */
      clear: both;
      font-family: 'Anton', sans-serif;
      font-size: 1rem;
      color: white;
      display: flex;
      justify-content: center;
    }
  
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }
  
  
  img {
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
  }

  
  color {
    color: blue;
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
    font-size: 2rem;
  }
  
  h3 {
    color: red;
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
    font-size: 2rem;
    text-decoration: underline;
  }