body {
    background: linear-gradient(0.25turn, #fffefe, #272727b2);
    margin: 30px;
    font-family: sans-serif;
}

header > h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: 0px rgb(0, 0, 0); 
    font-family: 'Staatliches', cursive;
    text-decoration: underline;
    margin: 0px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-text-stroke: 0.5px rgb(1, 5, 211); 
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    margin: 0px;
}

h3 {
    font-family: 'Grenze', serif;
    font-weight: bolder;
}

p {
    font-family: 'Grenze', serif;
    font-weight: lighter;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.8rem;
}

img {
        border-color: #8a8a8a;
        border-width: 10px;
        border-style: inset;
        width: 200px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}


div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    padding: 5px;
    background-color: white;
}