/* body {
    background: linear-gradient(0.25turn, #fffefe, #272727b2);
    margin: 30px;
    font-family: sans-serif;
} */
/* 
header > h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: 0px rgb(0, 0, 0); 
    font-family: 'Staatliches', cursive;
    text-decoration: underline;
    margin: 0px;
}

h1 {
    color: rgb(1, 5, 211);
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: 0.8px rgb(0, 0, 0); 
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    margin: 0px;
}

h3 {
    font-family: 'Grenze', serif;
    font-weight: bolder;
}

p {
    font-family: 'Grenze', serif;
    font-weight: lighter;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.8rem;
}

img {
        border-color: #8a8a8a;
        border-width: 10px;
        border-style: inset;
        width: 200px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}


div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    padding: 5px;
    background-color: white;
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   height: 100vh;
   display: flex;
   background: linear-gradient(0.25turn, #fffefe, #272727b2);
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face {
    transform: rotateY(180deg);
}

/* .back-face {
    border: 4px solid blue;
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
} */

