h1 {
    color: rgb(255, 0, 0);
    font-size: 2rem;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    font-family: 'Grenze', serif;
    text-decoration: underline;
}

h3 {
    font-family: 'Grenze', serif;
    font-weight: bolder;
}

p {
    font-family: 'Grenze', serif;
    font-weight: lighter;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
}

img {
        border-color: red;
        border-width: 10px;
        border-style: inset;
        width: 200px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

Button {
    padding: 20px;
    font-size: 1rem;
    border-radius: 30px;
    border: 4mm ridge blue;
    box-sizing: border-box;
    padding: 15px;
    width: 25%;
    background-color: rgb(0, 110, 255);
     color: white;
     -webkit-text-stroke: 1px rgb(0, 0, 0);  
     font-family: 'Anton', sans-serif;
     visibility: visible;
}